// **** RESET **** //
// =============== //

*, *::after, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  font-family: 'roboto', sans-serif;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  background: #122547;
}
