

.button {
  transition: all 0.5s;
  position: relative;
  margin: 20px 0;
  padding: 10px 20px;
  width: fit-content;
  font-family: $font-roboto-medium;
  text-align: center;
  color: $color-white;
  cursor: pointer;
  border-radius: $radius-current;
  font-size: 1.1rem;
  outline: none;
  border: none;
  white-space: nowrap;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $color-sweet;
      border-radius: $radius-current;
      transition: all 0.3s;
  }
  &:hover{
      &::before {
          opacity: 0 ;
          transform: scale(0.5,0.5);
      }
      &::after {
          opacity: 1;
          transform: scale(1,1);
      }
  }
  &::after {
      content: '';
      position: absolute;
      border-radius: $radius-current;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 2px solid $color-white;
      transform: scale(1.2,1.2);
  }
}

.button-transparent{
  color: $color-white;
  background: transparent;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $color-sweet;
      border-radius: $radius-current;
      transition: all 0.3s;
  }
  &:hover{
      &::before {
          opacity: 0 ;
          transform: scale(0.5,0.5);
      }
      &::after {
          opacity: 1;
          transform: scale(1,1);
      }
  }
  &::after {
      content: '';
      position: absolute;
      border-radius: $radius-current;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 2px solid $color-white;
      transform: scale(1.2,1.2);
  }

}

.button-white{
  color: $color-main;
  background: $color-white;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $color-sweet;
      border-radius: $radius-current;
      transition: all 0.3s;
  }
  &:hover{
    background: $color-sweet;
    color: $color-white;
      &::before {
          opacity: 0;
          transform: scale(0.5,0.5);
      }
      &::after {
          opacity: 1;
          transform: scale(1,1);
      }
  }
  &::after {
      content: '';
      position: absolute;
      border-radius: $radius-current;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border: 2px solid $color-white;
      transform: scale(1.2,1.2);
  }

}
