@font-face {
  font-family: "Roboto-Black";
  src: url("~static/fonts/Roboto-Black.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("~static/fonts/Roboto-Bold.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("~static/fonts/Roboto-Light.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("~static/fonts/Roboto-Medium.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("~static/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("~static/fonts/Roboto-Thin.ttf") format("truetype");
  font-display: auto;
}


// Colors
$color-white: #f3f3f3;
$color-black: #000;
$color-main: #122547;

// Fonts
$font-roboto-black: 'Roboto-Black', sans-serif;
$font-roboto-bold: 'Roboto-Bold', sans-serif;
$font-roboto-light: 'Roboto-Light', sans-serif;
$font-roboto-medium: 'Roboto-Medium', sans-serif;
$font-roboto-regular: 'Roboto-Regular', sans-serif;
$font-roboto-thin: 'Roboto-Thin', sans-serif;

// Radius
$radius-current: 5px;

// Shadows
$shadow-m: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow-xl: 0 0 20px rgba(0, 0, 0, 0.2);

// Spacing
$spacing-xl: 20px;
$spacing-m: 10px;
